**/__pycache__/
*.egg-info/
*.keystore*
*.swp
*signer.pem*
.coverage
.DS_store
.venv/
.vscode/
build/
dist/
find.sh
local/
postgresql_data
rabbitmq_data
debian/.debhelper
debian/pantos-service-node
debian/tmp
debian/*debhelper*
debian/files
debian/*substvars
