networks:
  pantos-service-node:
  pantos-ethereum:
    name: pantos-ethereum-${STACK_IDENTIFIER}-${ETHEREUM_NETWORK-1}
    external: true

services:
  app:
    networks:
      pantos-service-node:
      pantos-ethereum:
    entrypoint: /usr/bin/pantos-service-node-server
    environment:
      PANTOS_ENV_FILE: /etc/pantos/service-node-config.env
      APP_URL: http://localhost:808${INSTANCE-1}
      BNB_CHAIN_PRIVATE_KEY: /etc/pantos/bnb-data/keystore
      ETHEREUM_PRIVATE_KEY: /etc/pantos/eth-data/keystore
      SOURCE_ENV_FILES: /etc/pantos/eth-data/ETHEREUM.env,/etc/pantos/bnb-data/BNB_CHAIN.env
    volumes:
      - type: volume
        source: bnb-data
        target: /etc/pantos/bnb-data
        read_only: true
      - type: volume
        source: eth-data
        target: /etc/pantos/eth-data
        read_only: true
      - type: bind
        source: ./signer_key.pem
        target: /etc/pantos/service-node-signer.pem
        read_only: true
      - type: bind
        source: ./service-node-config.docker.env
        target: /etc/pantos/service-node-config.env
        read_only: true
    develop:
      watch:
        - action: sync+restart
          path: service-node-config.docker.env
          target: /root/service-node-config.docker.env

  worker:
    networks:
      pantos-service-node:
      pantos-ethereum:
    environment:
      PANTOS_ENV_FILE: /etc/pantos/service-node-config.env
      APP_URL: http://localhost:808${INSTANCE-1}
      BNB_CHAIN_PRIVATE_KEY: /etc/pantos/bnb-data/keystore
      ETHEREUM_PRIVATE_KEY: /etc/pantos/eth-data/keystore
      PANTOS_STATUS_MONITOR: 1
      SOURCE_ENV_FILES: /etc/pantos/eth-data/ETHEREUM.env,/etc/pantos/bnb-data/BNB_CHAIN.env
    ports:
      - 555${INSTANCE-0}:5555
    volumes:
      - type: volume
        source: bnb-data
        target: /etc/pantos/bnb-data
        read_only: true
      - type: volume
        source: eth-data
        target: /etc/pantos/eth-data
        read_only: true
      - type: bind
        source: ./signer_key.pem
        target: /etc/pantos/service-node-signer.pem
        read_only: true
      - type: bind
        source: ./service-node-config.docker.env
        target: /etc/pantos/service-node-config.env
        read_only: true
    develop:
      watch:
        - action: sync+restart
          path: service-node-config.docker.env
          target: /root/service-node-config.docker.env

volumes:
  bnb-data:
    # Requires the same amount of instances as the servicenode
    name: bnb-data-${STACK_IDENTIFIER}-${ETHEREUM_NETWORK-1}
    external: true
  eth-data:
    name: eth-data-${STACK_IDENTIFIER}-${ETHEREUM_NETWORK-1}
    external: true
