Package: pantos-service-node
Version: VERSION
Architecture: all
Depends: libpq-dev, python3-dev (>= 3.10), apache2, apache2-dev, python3-venv, debconf
Recommends: iptables, postgresql, rabbitmq-server, python3-pip, openssh-client
Maintainer: Pantos GmbH <contact@pantos.io>
Description: Service Node reference implementation for the Pantos multi-blockchain system.
Homepage: https://github.com/pantos-io/servicenode
