Package: pantos-service-node
Version: VERSION
Architecture: all
Depends: libpq-dev, openssl, python3 (>= 3.10), openssh-client
Recommends: iptables, apache2, apache2-dev, postgresql, rabbitmq-server, python3-pip, python3-venv, systemctl
Maintainer: Pantos GmbH <contact@pantos.io>
Description: Service Node reference implementation for the Pantos multi-blockchain system.
