Package: pantos-service-node
Version: VERSION
Architecture: all
Depends: iptables, libpq-dev, openssl, python3 (>= 3.10)
Recommends: apache2, apache2-dev, postgresql, rabbitmq-server, python3-pip, python3-venv
Maintainer: Pantos GmbH <contact@pantos.io>
Description: Service Node reference implementation for the Pantos multi-blockchain system.
