Source: pantos-service-node
Section: contrib/python
Priority: extra
Maintainer: Pantos GmbH <contact@pantos.io>
Build-Depends: debhelper (>= 10), python3, python3-dev, dh-virtualenv (>= 1.1), python3-venv, tar, dh-sysuser, dh-exec
Standards-Version: 3.9.5
Homepage: https://github.com/pantos-io/servicenode

Package: pantos-service-node
Architecture: all
Pre-Depends: dpkg (>= 1.16.1), python3, python3-venv, ${misc:Pre-Depends}
Depends: ${python:Depends}, ${misc:Depends}, libpq-dev, apache2, apache2-dev, debconf
Recommends: iptables, postgresql, rabbitmq-server, openssh-client
Description: Service Node reference implementation for the Pantos multi-blockchain system.

