#!/usr/bin/make -f
# Build Debian package using https://github.com/spotify/dh-virtualenv
#
# The below targets create a clean copy of the workdir via
# using "sdist", else "pip" goes haywire when installing from
# sourcedir ".", because that includes the debian build stage,
# and a recursive explosion ensues when symlinks are followed.
#
# It also ensures your MANIFEST is complete and at least covers
# all files needed for a release build.

# Increase trace logging, see debhelper(7) (uncomment to enable)
DH_VERBOSE=1

export DH_VIRTUALENV_INSTALL_ROOT=/opt/pantos
export POETRY_VIRTUALENVS_CREATE=false
PYTHON_VERSION ?= 3.12
SNAKE=debian/$(PACKAGE)$(DH_VIRTUALENV_INSTALL_ROOT)/$(PACKAGE)/bin/python3
EXTRA_REQUIREMENTS=--upgrade-pip --preinstall "setuptools>=38" --preinstall "poetry" --preinstall "dh-poetry"
DH_VENV_ARGS=--builtin-venv --python=$(SNAKE) $(EXTRA_REQUIREMENTS) \
            --extra-pip-arg=--progress-bar=on \
			--pip-tool dh-poetry
PACKAGE=$(shell dh_listpackages)
VERSION=$(shell poetry version -s)
SDIST_DIR=debian/$(PACKAGE)-$(VERSION)
export POETRY_VIRTUALENVS_PATH=debian/$(PACKAGE)$(DH_VIRTUALENV_INSTALL_ROOT)/$(PACKAGE)


.PHONY: clean build-arch override_dh_virtualenv override_dh_strip override_dh_installsystemd

clean:
	test ! -d dist || rm -rf dist
	test ! -d $(SDIST_DIR) || rm -rf $(SDIST_DIR)
	dh $@ $(DH_VENV_ARGS)

build-arch:
	poetry build -f sdist
	mkdir -p $(SDIST_DIR)
	tar -x -C $(SDIST_DIR) --strip-components=1 --exclude '*.egg-info' -f dist/*.tar
	dh $@ $(DH_VENV_ARGS) --sourcedir $(SDIST_DIR)

%:
	dh $@ --with python-virtualenv,sysuser

override_dh_virtualenv:
	. $$(conda info --base)/etc/profile.d/conda.sh && \
	conda create -y --prefix $(POETRY_VIRTUALENVS_PATH) python=$(PYTHON_VERSION) && \
	conda activate $(POETRY_VIRTUALENVS_PATH) && \
	dh_virtualenv $(DH_VENV_ARGS)

override_dh_strip:
	dh_strip --exclude=cffi --exclude=_imaging

override_dh_installsystemd:
	dh_installsystemd --no-start --name=pantos-service-node-server
	dh_installsystemd --no-start --name=pantos-service-node-celery
