[Unit]
Description=Service Node web server reference implementation for the Pantos multi-blockchain system
After=network.target postgresql.service rabbitmq-server.service
StartLimitIntervalSec=0

[Service]
Type=forking
Restart=always
RestartSec=1
KillMode=mixed
WorkingDirectory=/opt/pantos/pantos-service-node
EnvironmentFile=/etc/default/pantos-service-node
ExecStart=/usr/bin/pantos-service-node-server
StandardOutput=append:/var/log/pantos/service-node/server-service.log
StandardError=append:/var/log/pantos/service-node/server-service.log

[Install]
WantedBy=multi-user.target
