[Unit]
Description=Service Node celery worker reference implementation for the Pantos multi-blockchain system
After=network.target postgresql.service rabbitmq-server.service
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=always
RestartSec=1
KillMode=mixed
TimeoutStopSec=600
User=pantos
WorkingDirectory=/opt/pantos/service-node
Environment="PATH=/opt/pantos/service-node/virtual-environment/bin"
ExecStart=/opt/pantos/service-node/virtual-environment/bin/celery -A pantos.servicenode worker -l INFO -n pantos.servicenode -Q transfers,bids
StandardOutput=append:/var/log/pantos/service-node-celery.log
StandardError=inherit

[Install]
WantedBy=multi-user.target
